include: 'https://raw.githubusercontent.com/Nitrokey/common-ci-jobs/master/common_jobs.yml'

stages:
  - pull-github
  - build 
  - deploy

variables:
  GIT_STRATEGY: clone            
  GIT_DEPTH: 0                    
  GIT_SUBMODULE_STRATEGY: recursive 
  REPO_NAME: qubes-oem
  MAIN_BRANCH: main
  COMMON_PULL: "true"
  COMMON_UPLOAD_NIGHTLY: "false"
  COMMON_GITHUB_RELEASE: "false"
  COMMON_UPLOAD_FILES: "false"
  DEVICE_FOLDER: "nitropad"
  UPLOAD_FOLDER: "qubes-oem"

.oem-build:
  image: registry.git.nitrokey.com/nitrokey/gitlab-ci/ci-oem-release:latest
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
  tags:
    - docker
  stage: build
  after_script:
    - wget $icon_server/checkmark/$CI_COMMIT_REF_NAME/$CI_COMMIT_SHA/$CI_JOB_NAME/$CI_JOB_STATUS/${CI_JOB_URL#*/*/*/}
  artifacts:
    paths:
      - artifacts
    expire_in: 1 hrs

oem-build-DE:
  extends: .oem-build
  script:
    - apt install pip -y
    - pip install pykickstart
    - ./make-image.sh de
    - ls
    - mkdir -p artifacts
    - cp *oem*.img artifacts/

oem-build-DE-GPU:
  extends: .oem-build
  script:
    - ./make-image.sh de gpu
    - ls
    - mkdir -p artifacts
    - cp *oem*.img artifacts/

oem-build-EN-GPU:
  extends: .oem-build
  script:
    - ./make-image.sh en gpu
    - ls
    - mkdir -p artifacts
    - cp *oem*.img artifacts/

oem-build-EN:
  extends: .oem-build
  script:
    - ./make-image.sh en
    - ls
    - mkdir -p artifacts
    - cp *oem*.img artifacts/


#upload-oem-files:
#  image: registry.git.nitrokey.com/nitrokey/gitlab-ci/ci-oem-release:latest
#  rules:
#    - if: '$CI_PIPELINE_SOURCE == "push"'
#  tags:
#    - docker
#  stage: deploy
#  script:
#    - echo new_common
#    - ./ci-scripts/qubes-oem-release.sh
#  after_script:
#    - wget $icon_server/checkmark/$CI_COMMIT_REF_NAME/$CI_COMMIT_SHA/$CI_JOB_NAME/$CI_JOB_STATUS/${CI_JOB_URL#*/*/*/}
